# Ignore environment variables
.env
.env.*

# Node.js dependencies
node_modules/

# Compiled object files (C/C++)
*.o
*.obj

# Executable files
*.exe
*.out
*.a
*.so

# Debug and log files
*.log

# Build directories
/build/
/bin/
/debug/
/dist/

# IDE/editor folders
.vscode/
*.swp
*~

# Backup and temp files
*.bak
*.tmp
# in /backend/.gitignore
firebaseServiceAccount.json
